
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~line-awesome/dist/line-awesome/css/line-awesome.css';
@import "variables";
@import "forms";
@import "modal";
@import "recipe";
@import "burger-menu";

//@import '../../../node_modules/@braid/vue-formulate/themes/snow/snow.scss';

#app{
    min-height: 90vh;
}

#footer{
    background-color: $grey_lightest;
    border-top: 1px solid $grey_lighter;

    margin-top: 2rem;
    min-height: 7vh;

    text-align: center;
    padding-top: .5rem;
    padding-left: 1rem;
}

body {
    font-size: 18px;
}


.resto-header {
    width: 100%;
    height: 5rem;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $grey_lighter;
    margin-bottom: 2rem;
}

.homescreen-headline {
    margin: 0;
    font-size: 3rem;
    color: $olivegreen;
    cursor: pointer;
}

.container-fluid{
    height: 100%;
}

.h5{
    color: $grey_darker;
    font-size: 1.2em;
}

.color-grey{
    color: $grey;
}
