// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    font-size: 18px;
}

.btn-primary{
    background-color: $olivegreen_lighter;
    color: black;

    &:hover, &:active, &:focus{
        background-color: $olivegreen_darker;
        border-color: $olivegreen_darker;
    }

    &.disabled{
        background-color: $olivegreen_lightest;
        border-color: $olivegreen_lightest;
        color: black;
    }
}

.container-fluid{
    height: 100%;
}
