.bm-burger-button {
    top: 30px !important;
    left: 15px !important;
}

.bm-burger-bars {
    background-color: $olivegreen_lightest !important;
}

.bm-menu {
    background-color: $olivegreen-lighter !important;
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}


.bm-overlay {
    background: rgba(0, 0, 0, 0) !important;
}

.bm-item-list {
    color: white !important;
    font-size: 1.2em !important;
    margin-right: 2rem !important;
    margin-left: 1.5rem !important;

}

.bm-link {
    margin-bottom: 1rem;
    width: 100%;
    z-index: 20000;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 0 !important;
    border-bottom: 1px solid white;
}

.bm-user {
    font-size: 2rem;
}
