.bm-burger-button {
    top: 30px;
    left: 15px;
}
.bm-burger-bars {
    background-color: $olivegreen_lightest;
}

.bm-menu {
    background-color: $olivegreen-lighter;
    cursor: revert;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}


.bm-overlay {
    background: rgba(0, 0, 0, 0);
}

.bm-item-list{
    color: white;
    font-size: 1.2em;
    margin-right: 2rem;
    margin-left: 1.5rem;

}

.bm-link {
    margin-bottom: 1rem;
    width: 100%;
    z-index: 20000;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 0 !important;
    border-bottom: 1px solid white;
}

.bm-cross-button{
    display: none;
}
