.v-easy-dialog--backdrop{
    &-btn{
        background-color: black;
        opacity: 0.3;
    }
}

.modal-body{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 2rem;
    background-color: $body-bg;
}
