.recipe-card {

    height: 5rem;
    border: 1px solid #cbcbcb;
    margin-bottom: 1rem;

    .inner{
        .title {
            padding-top: 0.5rem;
        }
        .content{
            color: $grey_darker;
        }
    }

    &.left{
        @include media-breakpoint-up(md) {
            margin-right: 0;
        }
    }

    &.right{
        @include media-breakpoint-up(md) {
            margin-left: 0;
        }
    }

}

.add-recipe {
    border: 2px dashed #cbcbcb;
    text-align: center;
    height: 5rem;
    color: $grey_lighter;

    cursor: pointer;
}

.add-ingredient {
    border: 2px dashed #cbcbcb;
    text-align: center;
    height: 4rem;
    color: $grey_lighter;

    cursor: pointer;
    margin-bottom: 1rem;
}

.ingredient-card {
    border-bottom: 2px solid #e3e3e3;
    height: 3rem;
    cursor: pointer;
}
